.button {
    background-color: rgb(177, 239, 148);
    border: 2px solid rgb(84, 74, 74)
}

.index {
  list-style:inside;
  color:  rgb(84, 74, 74);
}

.input {
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid rgb(84, 74, 74);
}

